$border-color: gainsboro;
$body-color: #2c3e50;
$component-border: solid 1px $border-color;
$item-border: solid 1px darken($border-color, 20%);
$rollover-color: orange;
$body-bg: white;
$btn-disabled-opacity: 0.4;
$dimmed-text-color: desaturate(lighten($body-color, 30%), 20%);

$show-sidebar: false;
$base-color: #007bff;
// update the theme
$theme-colors: (
        "primary": darken($base-color, 15%),
        "secondary": desaturate($base-color, 40%)
);


@import '~bootstrap/scss/bootstrap.scss';
$fa-font-path: '../../public/fontawesome/webfonts';
@import './fontawesome/scss/variables';
@import './fontawesome/scss/mixins';
@import './fontawesome/scss/core';
@import './fontawesome/scss/solid';

body {
  //background-color: white;
}

blockquote {
  font-style: italic;

  &:before {
    content: "“"
  }

  &:after {
    content: "“"
  }
}

.decorator {
  color: $dimmed-text-color;
  font-weight: bold;
  padding: 0 0.5em;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  #banner {
    @include make-row();

    nav {
      @include make-col-ready();
      @include make-col(10);

      a {
        font-weight: bold;
        color: #2c3e50;

        &.router-link-exact-active {
          color: #42b983;
        }
      }

      & > a {
        margin-right: 0.5em;

        &::after {
          content: " |";
          color: $body-color;
        }
      }
    }

    .login-status {
      @include make-col-ready();
      @include make-col(2);

      .sign-out {
        &:hover {
          cursor: pointer;
          color: $rollover-color;
        }
      }
    }

    nav, .login-status {
      padding: 15px 30px;
    }
  }

  .main-view {
    @include make-row();
    padding: 0 30px;

    .content.main {
      $main-cols: 9;
      @if $show-sidebar == false {
        $main-cols: 12;
      }

      @include make-col-ready();
      @include make-col($main-cols);
      @include make-row();

      & > .component {
        // uncomment the following line when working on component layout...
        //border: $component-border;
      }

      .login {
        border: none;
        max-width: 600px;
      }

      .game-board {
        @include make-col-ready();
        @include make-col(9);

        svg {
          border: solid 1px gainsboro;
          background-color: $body-bg;
          margin: 25px;
          margin-left: 0;
          margin-right: 0;

          path {
            fill: none;
            stroke: #76BF8A;
            stroke-width: 3px;
          }

          &.stacked-area {
            path.line {
              stroke: magenta
            }

            path.selector {
              stroke: aqua;
            }

            path.area {
              fill: beige;
            }
          }

          &.game-view {
            .grid {
              path.grid-lines {
                stroke-width: 1px;
                stroke: $border-color;
                stroke: none;
              }
            }

            #layoutObjectsLayer {
              .obstacle {
                rect {
                  fill: black;
                }
              }

              .asset {
                circle {
                  fill: lightgray;
                  //stroke-width: 2px;
                  //stroke: magenta;
                }

                .icon {
                  fill: rebeccapurple;
                }

                image {
                  fill: blue !important;

                  path {
                    fill: aqua;
                    stroke: #990000;
                  }
                }
              }
            }

            #playerLayer {
              .player {
                color: dodgerblue;
              }
            }
          }
        }
      }

      .game-info {
        @include make-col-ready();
        @include make-col(3);
        @include make-row();

        padding: 0;

        & > .component {
          margin-left: 0;
          padding: 0 !important;
        }

        $info-column-subcolumns: 3;

        .score-board {
          @include make-col-ready();
          @include make-col(3, $info-column-subcolumns);

          .player-list {
            list-style-type: none;
            padding-left: 0;

            .player, .total, .percent {
              display: flex;
              position: relative;
              padding: 1rem;
              //border-bottom: $item-border;
              box-shadow: $box-shadow-sm;
              //margin-right: 0.25em;
              .fa {
                margin-right: 1rem;
                font-size: 2em;
              }

              align-items: center;

              .icon {
                display: block;
              }

              .placeholder {
                color: $dimmed-text-color;
                $side-padding: 0.15em;
                padding-left: $side-padding;
                padding-right: 0;

              }

              .name, .label, .separator, .score {
                position: relative;
                display: block;
                bottom: 0.25em;
                font-weight: bold;
                vertical-align: bottom;
              }

              .name, .label {
                flex-grow: 4;
              }

              .separator {
                flex-grow: 6;
                //font-size: 1.5em;
                align-self: flex-end;
              }

              //.score {
              //  position: absolute;
              //  top: 0;
              //  right: 0;
              //}
            }

            .total {
              border-top: solid 1px black;
              box-shadow: none;
            }
            .percent {
              color: silver;
              box-shadow: none;
            }
          }
        }

        .game-controls {
          @include make-col-ready();
          @include make-col(3, $info-column-subcolumns);

          & > .control-group {
            display: grid;
            border: $component-border;
            padding: 0.5em;
            margin-bottom: 1em;

            .control-group {
              white-space: nowrap;
              &[disabled] * {
                color: gainsboro;
              }
            }

            .btn {
              //align-self: flex-end;
              //flex-basis:100%;
              font-weight: bold;
            }
          }

          input[type=text] {
            width: 3em;
            text-align: right;
            margin: 0 0.25em 0 0;
          }

          .transport {
            display: flex;
            justify-content: center;
            border: none;

            button {
              //padding: 0.5em;

              .icon {
                font-size: 2em;
              }

              &.play .icon {
                @extend %fa-icon;
                @extend .fas;

                &:before {
                  content: fa-content($fa-var-play);
                }
              }

              &.pause .icon {
                @extend %fa-icon;
                @extend .fas;

                &:before {
                  content: fa-content($fa-var-pause);
                }
              }

              &.stop .icon {
                @extend %fa-icon;
                @extend .fas;

                &:before {
                  content: fa-content($fa-var-stop);
                }
              }

              .label {
                display: none;
              }

              &[disabled] {
                opacity: $btn-disabled-opacity;
              }
            }
          }

          .status, .elapsed-time {
            display: block;
            text-align: center;
          }

        }
      }

      .game-controls, .score-board {
        h3 {
          margin: 0;
          background-color: map-get($theme-colors, 'primary');
          color: white;
          font-size: 1.25rem;
          padding: 0.25em 1.5em;
        }
      }

      .system-status {
        @include make-col-ready();
        @include make-col(12);

        h3 {
          display: none;
        }

        .player-list {
          & * {
            display: inline;
          }

          ul {
            list-style-type: none;
            padding-left: 0;

            li {
              padding-left: 0.5em;
              padding-right: 0.5em;
            }
          }
        }
      }
    }

    .content.sidebar {
      @if $show-sidebar == true {
        @include make-col-ready();
        @include make-col(3);
      }
      @if $show-sidebar == false {
        display: none;
      }
    }
  }

  .demos {
    &.d3 {
      svg {
        border: solid 1px gainsboro;
        margin: 25px;

        &.grid-demo {
          .grid {
            path.grid-lines {
              fill: none;
              stroke-width: 1px;
              stroke: gainsboro;
            }
          }
        }
      }
    }
  }

}

